button {
    cursor: pointer;
    margin: 10px;
    &:hover {
        background: black;
        color: white;
    }
}

.btn-cart {
    margin: 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    & > div > div {
        width: 250px;
        min-height: 300px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        & > img {
            max-width: 150px;
        }
        & > input:not(:nth-child(6)) {
            width: 30px;
            margin-bottom: 10px;
        } 
    }
}