
.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    background-color: darkgrey;
    padding: 0 20px;
    position: relative;
    & > .logo > p {
        color: white;
        margin: 10px 0;
    }
    & > .other {
        display: flex;
        & > form {
            margin-right: 30px;
            & > input {
                border: 0;
                border-bottom: 2px solid white;
                background: none;
            }
        }
    }
}

.cart {
    position: absolute;
    border: 1px solid black;
    background: white;
    top: 35px;
    right: 0;
    & .cart-item {
        padding: 5px 10px;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.good-list {
    display: flex;
    justify-content: space-around;
    & > .good-item {
        margin: 10px 20px;
        background: gray;
        padding: 5px 10px;
    }
}

button {
    cursor: pointer;
}